*{
  padding: 0px;
  margin: 0px;
  /*font-family: 'Josefin Sans';*/
}

body{
  background-image: url(https://i.imgur.com/ugNmG8t.png);
  background-size: 100%;
}

.footer{
  display: block;
  text-align: center;
}

.dropdown{
  background-color: #1c1c1c;
  padding-top: 15px;
  padding-right: 10px;
  height: 60px;
}

#dropdown{
  background-color: transparent;
  border: none;
}

.rata-tengah {
  text-align: center;
  margin : 20px;
}
.judul {
  text-transform:uppercase;
  margin-bottom: 50px;
  margin-top: 50px;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 150px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}