*{
  padding: 0px;
  margin: 0px;
  /*font-family: 'Josefin Sans';*/
}

body{
  background-image: url(https://i.imgur.com/ugNmG8t.png);
  background-size: 100%;
}

.footer{
  display: block;
  text-align: center;
}

.dropdown{
  background-color: #1c1c1c;
  padding-top: 15px;
  padding-right: 10px;
  height: 60px;
}

#dropdown{
  background-color: transparent;
  border: none;
}

.rata-tengah {
  text-align: center;
  margin : 20px;
}
.judul {
  text-transform:uppercase;
  margin-bottom: 50px;
  margin-top: 50px;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 150px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
#myFooter{
  padding-top:32px;
}

#myFooter .container{
  text-align: center;
  margin-top: 10px;
}

#myFooter .footer-copyright{
  margin-bottom: 35px;
  text-align: center;
  color: #777;
}


#myFooter a{
  color: #282b2d;
  font-size: 18px;
}

#myFooter li{
  display: inline-block;
  margin: 0px 15px;
  line-height: 2;
}

#myFooter .footer-social{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
}

#myFooter .fa{
  font-size: 16px;
  margin-right: 15px;
  margin-left: 20px;
  background-color: white;
  color: #d0d0d0;
  border-radius: 51%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 43px;
  text-decoration: none;
  transition:color 0.2s;
}

#myFooter .fa-facebook:hover{
 color: #2b55ff;
}

#myFooter .fa-facebook:focus{
  color: #2b55ff; 
}

#myFooter .fa-google-plus:hover{
  color:red;
}

#myFooter .fa-google-plus:focus{
  color:red;
}

#myFooter .fa-twitter:hover{
  color: #00aced;

}

#myFooter .fa-twitter:focus{
  color:#00aced;
}

#myFooter{
 flex: 0 0 auto;
 -webkit-flex: 0 0 auto;
}