{% load staticfiles %}
{% load static %}

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <p>Nama : {{ nama }} </p>
            <p>NPM : {{ npm }} </p>
            <p>Keahlian :
                {% if list_keahlian %}
                    {% for keahlian in list_keahlian %}
                        {{ keahlian.keahlian }} 
                    {% endfor %}
                {% else %}
                    kosong
                {% endif %}
                </p>
            <p>Email : {{ email }} </p>
            <p>Profile LinkedIn : {{ profile_linkedin }} </p>
        </table>
    </div>
</div>