{% load staticfiles %}
{% load static %}

<div class="panel panel-default">
	<div class="panel-heading">
		<table style="width: 97%;">
	     	<thead>
		       <tr>
		         <th>No</th>
		         <th>Mata Kuliah</th>
		         <th>Dosen Pengajar</th>
		         <th>Nilai</th>
		       </tr>
		     </thead>
				  {% for riwayat in riwayats %}
	       <tr>
						<td>{{ forloop.counter }}</td>
		         <td>{{ riwayat.kelas.nm_mk_cl.nm_mk }}</td>
		         <td>{{ riwayat.kelas.pengajar.0.nama }}</td>
		         <td>{{ riwayat.nilai }}</td>
	       </tr>
				 {% endfor %}
		</table>
   	</div>
</div>